.shiki {
  @apply whitespace-pre-wrap p-3 rounded-xl !important;
  padding: 24px;
}

.shiki-light {
  @apply border-2 border-gray-200 !important;
}

html:not(.dark) {
  :not(pre) > code {
    @apply bg-gray-200 rounded-md p-1 !important;
  }
}

html.dark {
  :not(pre) > code {
    @apply bg-gray-800 rounded-md p-1 !important;
  }
}

.slidev-layout {
  &.section {
    @apply pr-17rem;
  }

  &.big-points {
    h1 {
      color: red
    }
  }

  &.two-columns {
    .col-left, col-right {
      /* margin:auto; */
    }
  }
}